___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:

def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        print (a)
    elif a % 2 == 1 or b % 2 == 1:
        print (b)
    else :
        print 'this should not be printing'

In [6]:
# Check
lesser_of_two_evens(2,4)

2

In [7]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [2]:
def animal_crackers(text):
    animal_list = text.split()
    if animal_list[0][0] == animal_list[1][0]:
        print 'these are equal first letters'
    else:
        print 'not same first letters'
    pass

In [3]:
# Check
animal_crackers('Levelheaded Llama')

these are equal first letters

In [4]:
# Check
animal_crackers('Crazy Kangaroo')

not same first letters

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [17]:
def makes_twenty(n1,n2):
    if n1 ==20 or n2 ==20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False
    pass

In [18]:
# Check
makes_twenty(20,10)

True

In [19]:
# Check
makes_twenty(2,3)

False

In [20]:
makes_twenty(5,15)

True

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [29]:
def old_macdonald(name):
    x = 0
    for item in name:
        if x == 0:
            print(item.upper())
        elif x== 3:
            print(item.upper())
        else:
            print(item)
        x=x+1

In [30]:
# Check
old_macdonald('macdonald')

M
a
c
D
o
n
a
l
d

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [38]:
def master_yoda(text):
    textList = text.split
    print(textList()[::-1])
    pass

In [39]:
# Check
master_yoda('I am home')

['home', 'am', 'I']

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [45]:
def almost_there(n):
    if n>89 and n<111:
        return True
    elif n>189 and n<211:
        return True
    else:
        return False
    pass

In [46]:
# Check
almost_there(104)

True

In [47]:
# Check
almost_there(150)

False

In [48]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [131]:
def has_33(nums):
    x=0
    for item in nums:
        if item==nums[x-1] and x>0 and item==3:
            #print('TRUE: '+ str(x) ) 
            #print(item)
            #print nums[x-1]
            return True
            x=x+1
        else:
            #print('FALSE: '+ str(x) ) 
            #print(item)
            #print nums[x-1]
            pass
            x=x+1
    
            
    pass

In [132]:
# Check
has_33([1, 3, 3])

True

In [134]:
# Check
has_33([1, 3, 1, 3])

In [138]:
# Check
has_33([3, 1, 3, 3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [165]:
def paper_doll(text):
    result = ''
    for item in text:
        result = result+ item + item+ item
        # result.append(item)
       # print (item + item + item)
    print result

In [166]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [2]:
def blackjack(a,b,c):
    cardValue = a+b+c;
    if cardValue <22 :
        return cardValue
    elif a==11 or b==11 or c==11:
        return cardValue-10
    else:
        return 'Bust'
    pass

In [3]:
# Check
blackjack(5,6,7)

18

In [4]:
# Check
blackjack(9,9,9)

'Bust'

In [5]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [15]:
def summer_69(arr):
    subtraction_total = 0
    running_total = 0
    subtraction_possible = 0
    for item in arr:
        running_total = item + running_total    
        if item == 6:
            subtraction_possible = 6
            
        elif subtraction_possible > 0 and item <9:
            subtraction_possible = subtraction_possible + item
            
        elif subtraction_possible >0 and item == 9:
            subtraction_total = subtraction_possible + 9
            
    return running_total - subtraction_total

In [16]:
# Check
summer_69([1, 3, 5])

9

In [17]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [18]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [23]:
def spy_game(nums):
    spy_string = ''
    for item in nums:
        if item == 0 and spy_string =='':
            spy_string = '0'
        elif spy_string <> '' and item == 0:
            spy_string = '00'
        elif spy_string == '00' and item == 7: 
            spy_string = '007'
    return spy_string

In [45]:
def spy_game2(nums):
    spy_string = ''
    for item in nums:
        if item == 0:
            spy_string = spy_string + '0'
        elif item == 7:
            spy_string = spy_string + '7'
            if spy_string == '007':
                return 'James Bond'
            else:
                return 'Imposter'

In [46]:
# Check
spy_game2([1,2,4,0,0,7,5])

'James Bond'

In [47]:
# Check2
spy_game2([1,0,2,4,0,5,7])

'James Bond'

In [48]:
# Check
spy_game2([1,7,2,0,4,5,0])

'Imposter'

In [24]:
# Check
spy_game([1,2,4,0,0,7,5])

'007'

In [25]:
# Check
spy_game([1,0,2,4,0,5,7])

'007'

In [26]:
# Check
spy_game([1,7,2,0,4,5,0])

'00'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [6]:
def count_primes(num):
    prime_list=[2,3]
    for item in range(4,num):
        primelst=prime_list
        for prime_item in primelst:
            if item % prime_item == 0:
                prime = False
                break
            else:
                prime = True
                pass            
        if prime == True:
            prime_list.append(item)

    return prime_list

In [7]:
# Check
count_primes(100)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!